

<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  {% load socialaccount %}

  <h1>QProject</h1>
  {% if user.is_authenticated %}
  <p>Welcome {{ user.username }} !!!</p>
  <p><a href="{% url 'account_logout' %}">Log out</a>
  {% else %}
  <p><a href="{% url 'account_signup' %}">Sign Up</a></p>
  <p><a href="{% url 'account_login' %}">Log In </a></p>
  <p><a href="{% provider_login_url 'google' %}">Log In with Gmail</a></p>
  <p><a href="{% provider_login_url 'facebook' %}">Log In with Facebook</a></p>
  <p><a href="{% provider_login_url 'twitter' %}">Log In with Twitter</a></p>

  {% endif %}

</body>
</html>
